@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: impacted;
    src: url(./fonts/Impacted.ttf);
}

@font-face {
    font-family: valera-round;
    src: url(./fonts/VarelaRound-Regular.ttf);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.grid {
    display: grid;
}

.hide {
    display: none !important;
}

.txt-center {
    text-align: center;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

* {
    box-sizing: border-box;
}


body.rtl * {
    font-family: valera-round;
}


body {
    background-color: #22252c;
    color: white;
    overflow-x: hidden;
    font-family: poppins;
    margin: 0;
}

button {
    border-radius: 10px;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

input {
    padding-block: 0.5rem;
    border-radius: 40px;
    text-align: center;
    font-size: 1.5rem;
}

select {
    border-radius: 40px;
    font-family: valera-round;
    padding-block: 5px;

}

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;

    background-color: GREY;
    border-radius: 40px;
    background-image: linear-gradient(to right, #0f9bb2, #2fbb72);
    margin-bottom: 1rem;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 45px;
    z-index: 10;
    top: 0;
    height: 60px;
}

ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 20px;
    margin-right: 20px;
}

li {
    justify-self: left;
    gap: 10px;
}



a {
    cursor: pointer;
}

/* .gallery-link {
    margin-right: 20px;
} */

header select {
    color: #21ac91;

}

body.rtl select {
    direction: rtl;
}

.hamburger-bar {
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
}

section {
    margin: 10px;
}

.logo-container {
    width: 100px;
    height: 25px;
    margin-left: 81px;
    margin-inline: 20px;
}

.logo {

    width: 100%;
}

.active {
    background-color: white;
    color: #21ac91;
    border-radius: 20px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    padding: 10px 21px;
}

.toggleNavbar {}

.fliter-container {
    position: relative;
    display: grid;
    grid-template-columns: 5fr 5fr 1fr 1fr;
    align-items: start;
    width: 100%;
    gap: 20px;
    margin-bottom: 45px;
}

.filter-input-container {
    position: relative;
}

.filter-input {
    text-align: left;
    padding-left: 50px;
    padding-right: 26px;
    border-radius: 29px;
    background-color: #22252c;
    color: #919499;
    max-height: 57px;
    width: 100%;
}

body.rtl .filter-input {
    text-align: right;
    direction: rtl;
}

.filter-input-container img {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

body.rtl .filter-input-container img {
    right: auto;
    left: 20px;
}

.filter-input:focus-visible {
    outline: none;
}

.keywords-by-popularity {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(123 123 123);

    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 5px;
    opacity: 0.4;
    text-align: center;
    line-height: 45px;
    max-height: 55px;
    overflow: hidden;
    cursor: pointer;
}

.expand-keywords {
    max-height: 200px;
}

.keywords-by-popularity span {
    color: rgb(244, 235, 235);
}

.more-keywords-btn,
.flexible-btn {
    width: 87px;
    height: 35px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 17px;
    background-color: #fefefe;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border: none;
    color: white;
    align-self: center;
}

.flexible-btn img {
    width: auto;
}

.gallery-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    background-color: #383b42;
    border-radius: 10px;
    max-width: 1370px;
    margin-inline: auto;
}

.gallery {
    display: grid;
    max-width: 100%;
    padding-right: 20px;
    justify-content: center;
    /* justify-content: space-between; */
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 173px;
    /* grid-template-rows:100px; */
    gap: 30px;
    margin-bottom: 100px;
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}

.gallery img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #22252c;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    width: 13px;
    height: 57px;
    border-radius: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gallery>* {
    border-radius: 10px;
}

.meme-creator {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    max-width: 1370px;
    margin: auto;

}

.canvas-container {
    background-image: url(../assets/background-imgs/output-onlinepngtools.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.edit-container {
    border-radius: 30px;
    background-color: #383b42;
    align-items: center;
    padding: 10px 40px;
}

.txt-input {
    width: 445px;
    border-radius: 28px;
    background-color: #ebeef3;
    margin-bottom: 20px;
    text-align: center;
}

.meme-creator button {
    border: none;
    border-radius: 10px;
    width: 57px;
    height: 53px;
    padding: 10px;
}

.add-switch-remove-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 20px;
    /* display: flex;
    max-width: 200px;
    justify-content: space-around */
}

.add-switch-remove-container>* {
    justify-self: center;
}

.switch-btn {
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%)
}

.vert-btn {
    box-shadow: 1px 5px 0 #7e0497, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #e04dd4;
}

.add-line {

    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.remove-btn {
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);

}

.text-editor-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    padding: 11px;
    height: 151px;
    border-radius: 15px;
    background-color: #19a59f;
    margin-bottom: 20px;
}

.text-editor-container>* {
    justify-self: center;
    align-self: center;
}

.text-editor-container button,
.text-editor-container input {
    width: 55px;
    height: 51px;
    border-radius: 10px;
    box-shadow: 1px 5px 0 rgb(92 92 92 / 55%), inset 0 5px 0 rgb(255 255 255 / 58%);


}

.text-editor-container button {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
    background-color: #ffffff;
}

select {
    height: 30px;
    width: 80px;
    box-shadow: 1px 5px 0 rgb(92 92 92 / 55%), inset 0 5px 0 rgb(255 255 255 / 58%);
    background-color: #ffffff;
    background-color: #ffffff;
}

.stickers {
    display: inline;
}

.emoji-container {
    background-color: white;
    border-radius: 45px;
    font-size: 2rem;
    padding: 10px;
    margin-bottom: 25px;
    margin-inline: auto;
    max-width: 400px;
    max-height: 70px;
    text-align: center;
    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.font-input {
    height: 51px;
    width: 140px;
    padding-inline: 10px;
    grid-column: 4/ span 2;
    font-size: 20px;

}

.share-download-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 5px;
    font-size: 15px;
}

.share-download-container button,
.share-download-container a {
    display: block;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    line-height: 51px;
    width: 100%;
    height: 51px;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.share-download-container img {
    width: 20px;
    height: 21px;
    margin-right: 5px;
}


.download-btn {
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #ffffff;
    background-color: #8f44bb;
    text-decoration: none;
}

.share-download-container .get-img-btn {
    box-shadow: 1px 6px 0 #02351e, inset 0 5px 0 #ffffff;
    background-color: #015d33;
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-download-container .share-btn {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    background-color: #1e7cd3;
}



@media (max-width:900px) {

    .fliter-container {
        grid-template-columns: 8fr 1fr 1fr 1fr;
        grid-template-rows: 60px 1fr;
    }

    .filter-input-container {
        grid-column: 1/9;
    }

    .filter-input-container {
        margin-bottom: 20px;
    }

    .keywords-by-popularity {
        grid-row: 2;
        grid-column: 1/5;
    }

    .more-keywords-btn {
        grid-column: 5/6;
    }

    .gallery-container {
        padding: 10px 5px;
        margin-top: 25px;

    }

    .gallery {
        overflow: hidden;
    }

    .meme-creator {
        flex-direction: column;

    }



}

/* nav bar */
@media (max-width:600px) {

    header {
        position: fixed;
        border-radius: 0;
        width: 100%;
        margin: 0;
        padding: 0 10px 0 10px;
    }

    ul {
        position: fixed;
        display: none;
        background-color: #22252c;
        top: 44px;
        left: 0;
        width: 100%;
        padding: 0;
        height: 175px;
        z-index: 10;
    }

    body.open-menu ul {
        display: block;
    }

    body.open-menu header li:first-of-type {
        margin-top: 20px;
    }

    body.open-menu header li {
        margin-bottom: 25px;
    }

    /* .gallery-link {
        margin: 0;
    } */

    .hamburger-bar {
        display: block;
        justify-self: right;

    }

    .gallery-container {
        margin-top: 75px;

    }

    .gallery {
        grid-template-columns: repeat(auto-fit, 130px);
        grid-template-rows: repeat(auto-fit, 130px);
        max-height: none;
        overflow-y: hidden !important;
    }

    .saved-memes {
        margin-top: 70px;
    }

    .canvas-container {
        margin-top: 60px;
    }

    .text-editor-container {
        grid-template-columns: 60px 60px 60px;
        height: auto;
        grid-gap: 10px;
    }

    .align-left-btn {
        grid-column: 1;
        grid-row: 1;
    }

    .align-center-btn {
        grid-column: 2;
        grid-row: 1;
    }

    .align-right-btn {
        grid-column: 3;
        grid-row: 1;
    }

    .share-download-container {
        display: block;
    }

    .share-btn {
        margin-bottom: 20px;
    }

    .download-btn {
        margin-bottom: 20px;
    }

    .add-switch-remove-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }

    .font-input {
        grid-column: 1/4;

    }

    .saved-memes-container {
        margin-top: 85px;

    }

}

.color-btn {
    border: 1px solid #0f0;
    position: relative;
    width: 50px;
    height: 50px;
    margin: auto;
}

.color-input {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border: none;
    opacity: 0;
    position: absolute;
}

#display-image {
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}